/docs/superpowers/benchmarks/2026-08-29-query-gateway-object-node-artifacts/*-elasticsearch.json binary
/docs/superpowers/benchmarks/2026-08-29-query-gateway-object-node-artifacts/*-elasticsearch.txt binary
