<nz-table nzBordered nzSize="middle" [nzScroll]="{ x: '1200px' }"
          nzShowSizeChanger [nzFrontPagination]="false"
          [nzPageIndex]="pagedQuery.pageIndex" [nzPageSize]="pagedQuery.pageSize"
          [nzData]="pagedList.list" [nzTotal]="pagedList.total"
          (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th rowspan="2" nzLeft nzColumnKey="_id" [nzSortFn]="true" [nzSortPriority]="1">Id</th>
    <th colspan="3">Processor</th>
    <th colspan="5">EventId</th>
    <th colspan="3">RetryState</th>
    <th rowspan="2">Status</th>
    <th rowspan="2" nzWidth="250px" nzRight width="250px">Operation</th>
  </tr>
  <tr>
    <th nzColumnKey="state.processor.contextName" [nzSortFn]="true" [nzSortPriority]="9">Context</th>
    <th nzColumnKey="state.processor.processorName" [nzSortFn]="true" [nzSortPriority]="8">Name</th>
    <th nzColumnKey="state.executionTime" [nzSortFn]="true" [nzSortPriority]="4">ExecutionAt</th>
    <th nzColumnKey="state.eventId.aggregateId.contextName">Context</th>
    <th nzColumnKey="state.eventId.aggregateId.aggregateName">Aggregate</th>
    <th nzColumnKey="state.eventId.aggregateId.aggregateId">AggregateId</th>
    <th nzColumnKey="state.eventId.id" [nzSortFn]="true" [nzSortPriority]="2">Id</th>
    <th nzColumnKey="state.eventId.version" [nzSortFn]="true" [nzSortPriority]="3">Version</th>
    <th nzColumnKey="state.retryState.retries" [nzSortFn]="true" [nzSortPriority]="5" nzWidth="80px" width="80px">Retries</th>
    <th nzColumnKey="state.retryState.retryAt" [nzSortFn]="true" [nzSortPriority]="6">RetryAt</th>
    <th nzColumnKey="state.retryState.nextRetryAt" [nzSortFn]="true" [nzSortPriority]="7">NextRetryAt</th>
  </tr>
  <tbody>
  <tr *ngFor="let item of pagedList.list">
    <td nzLeft>{{ item.id }}
    </td>
    <td>{{ item.processor.contextName }}</td>
    <td>{{ item.processor.processorName }}</td>
    <td>{{ item.executionTime|date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td>{{ item.eventId.aggregateId.contextName }}</td>
    <td>{{ item.eventId.aggregateId.aggregateName }}</td>
    <td>{{ item.eventId.aggregateId.aggregateId }}</td>
    <td>{{ item.eventId.id }}</td>
    <td>{{ item.eventId.version }}</td>
    <td>{{ item.retryState.retries }}({{ item.retrySpec.maxRetries }})</td>
    <td>{{ item.retryState.retryAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td>
      <nz-countdown [nzValue]="item.retryState.nextRetryAt"
                    [nzValueStyle]="{ color: '#3F8600','font-size':'medium' }"></nz-countdown>
    </td>
    <td>{{ item.status }}</td>
    <td nzRight>
      <nz-button-group>
        <button
          nz-popconfirm
          [nzPopconfirmTitle]="'Are you sure retry this Failed?'"
          nzPopconfirmPlacement="top"
          nz-button
          (nzOnConfirm)="prepare(item.id)"
        >
          Retry
        </button>
                <button
          nz-popconfirm
          [nzPopconfirmTitle]="'Are you sure retry this Failed?'"
          nzPopconfirmPlacement="top"
          nz-button
          (nzOnConfirm)="prepare(item.id)"
        >
          ForceRetry
        </button>
        <button nz-button (click)="openStackTrace(item)">
          Error
        </button>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="stackTraceVisible"
  nzPlacement="right"
  nzTitle="Error"
  (nzOnClose)="closeStackTrace()"
  nzWidth="1000px"
>
  <ng-container *nzDrawerContent>
    <span nz-typography><code>{{ current?.error?.stackTrace }}</code></span>
  </ng-container>
</nz-drawer>
