<nz-descriptions [nzColumn]="5" nzBordered nzLayout="vertical">
  <nz-descriptions-item nzTitle="Id" [nzSpan]="1">
    <p nz-typography nzEllipsis nzCopyable [(nzContent)]="state.id"></p>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Function" [nzSpan]="1">
    <p nz-typography nzEllipsis nzExpandable>
      {{ state.function.processorName }}.{{state.function.name}}&#64;{{ state.function.contextName }}
    </p>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="EventId" [nzSpan]="1">
    <p nz-typography nzEllipsis nzCopyable [(nzContent)]="state.eventId.id"></p>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Aggregate" [nzSpan]="1">
    {{ state.eventId.aggregateId.aggregateName }}&#64;{{ state.eventId.aggregateId.contextName }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="AggregateId" [nzSpan]="1">
    <p nz-typography nzEllipsis nzCopyable [(nzContent)]="state.eventId.aggregateId.aggregateId"></p>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Error Code" [nzSpan]="1">{{ state.error.errorCode }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Error Message" [nzSpan]="4">{{ state.error.errorMsg }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Stack Trace" [nzSpan]="5">
    <nz-code-editor class="editor" [ngModel]="state.error.stackTrace"
                    [nzEditorOption]="{ language: 'log',theme:'vs-dark',readOnly:true }"></nz-code-editor>
  </nz-descriptions-item>
</nz-descriptions>
