.logo {
  width: 48px;
  height: 48px;
  margin: 0 24px 0 0;
  float: left;
}

.logo img {
  display: inline-block;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

[nz-menu] {
  line-height: 64px;
}

nz-header {
  width: 100%;
}

nz-content {
  padding: 0 10px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 10px;
  min-height: 600px;
}
