<nz-layout>
  <nz-header>
    <div class="logo">
      <a href="https://github.com/Ahoo-Wang/Wow" target="_blank"
         title="Modern Reactive CQRS Architecture Microservice development framework based on DDD and EventSourcing">
        <img ngSrc="assets/Logo-Full.svg" height="470" width="406" alt="Wow">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item [nzMatchRouter] nzSelected routerLink="/to-retry">ToRetry</li>
      <li nz-menu-item [nzMatchRouter] routerLink="/next-retry">NextRetry</li>
      <li nz-menu-item [nzMatchRouter] routerLink="/non-retryable">NonRetryable</li>
      <li nz-menu-item [nzMatchRouter] routerLink="/succeeded">Succeeded</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <a href="https://github.com/Ahoo-Wang/Wow" target="_blank"
       title="Modern Reactive CQRS Architecture Microservice development framework based on DDD and EventSourcing.">Wow</a>
    © 2021-present
  </nz-footer>
</nz-layout>
