<form nz-form [formGroup]="validateForm" (ngSubmit)="applyRetrySpec()" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="id">ExecutionFailedId</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <input type="text" nz-input value="{{id}}" [disabled]="true"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired nzFor="maxRetries">MaxRetries</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input MaxRetries">
      <nz-input-number [nzMin]="0" formControlName="maxRetries" required="true" style="width: 100%;"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired nzFor="minBackoff">MinBackoff(S)</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input MinBackoff">
      <nz-input-number [nzMin]="0" formControlName="minBackoff" required="true" style="width: 100%;"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired nzFor="executionTimeout">ExecutionTimeout(S)</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input ExecutionTimeout">
      <nz-input-number [nzMin]="0" formControlName="executionTimeout" required="true" style="width: 100%;"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <button nz-button nzType="primary" nzBlock>Apply</button>
    </nz-form-control>
  </nz-form-item>
</form>
