<nz-table [nzData]="eventStreams" nzSize="middle" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>StreamId</th>
    <th>DomainEventId</th>
    <th>Version</th>
    <th>Name</th>
    <th>CreateTime</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let eventStream of eventStreams">
    <tr *ngFor="let event of eventStream.body">
      <td>
        <p nz-typography nzEllipsis nzCopyable [(nzContent)]="eventStream.id"></p>
      </td>
      <td>
        <p nz-typography nzEllipsis nzCopyable [(nzContent)]="event.id"></p>
      </td>
      <td>{{ eventStream.version }}</td>
      <td>{{ event.name }}</td>
      <td>{{ eventStream.createTime|date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </ng-container>
  </tbody>
</nz-table>
