#
# Copyright [2021-present] [ahoo wang <ahoowang@qq.com> (https://github.com/Ahoo-Wang)].
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#      http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Integration Test
on:
  pull_request:
    paths-ignore:
      - 'document/**'
      - 'documentation/**'
      - 'schema/**'
      - 'wow-example/**'
env:
  CI: GITHUB_ACTIONS

jobs:
  wow-api-test:
    name: Wow Api Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Api
        run: ./gradlew wow-api:clean wow-api:check --stacktrace

  wow-core-test:
    name: Wow Core Test
    runs-on: ubuntu-latest
    needs: [ wow-api-test ]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Core
        run: ./gradlew wow-core:clean wow-core:check --stacktrace
  wow-schema-test:
    name: Wow Schema Test
    runs-on: ubuntu-latest
    needs: [ wow-api-test ]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Schema
        run: ./gradlew wow-schema:clean wow-schema:check --stacktrace
  wow-openapi-test:
    name: Wow OpenAPI Test
    runs-on: ubuntu-latest
    needs: [ wow-api-test ]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-OpenAPI
        run: ./gradlew wow-openapi:clean wow-openapi:check --stacktrace

  wow-compiler-test:
    name: Wow Compiler Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Compiler
        run: ./gradlew wow-compiler:clean wow-compiler:check --stacktrace

  wow-bi-test:
    name: Wow BI Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-BI
        run: ./gradlew wow-bi:clean wow-bi:check --stacktrace

  wow-query-test:
    name: Wow Query Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Query
        run: ./gradlew wow-query:clean wow-query:check --stacktrace

  wow-cocache-test:
    name: Wow CoCache Test
    runs-on: ubuntu-latest
    needs: [ wow-api-test ]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-CoCache
        run: ./gradlew wow-cocache:clean wow-cocache:check --stacktrace

  wow-models-test:
    name: Wow Models Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Models
        run: ./gradlew wow-models:clean wow-models:check --stacktrace

  wow-kafka-test:
    name: Wow Kafka Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Kafka
        run: ./gradlew wow-kafka:clean wow-kafka:check --stacktrace

  wow-mongo-test:
    name: Wow Mongo Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Mongo
        run: ./gradlew wow-mongo:clean wow-mongo:check --stacktrace

  wow-redis-test:
    name: Wow Redis Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Redis
        run: ./gradlew wow-redis:clean wow-redis:check --stacktrace

  wow-it-test:
    name: Wow IT Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-IT
        run: ./gradlew wow-it:clean wow-it:check --stacktrace

  wow-r2dbc-test:
    name: Wow R2DBC Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-R2DBC
        run: ./gradlew wow-r2dbc:clean wow-r2dbc:check --stacktrace

  wow-elasticsearch-test:
    name: Wow ElasticSearch Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-ElasticSearch
        run: ./gradlew wow-elasticsearch:clean wow-elasticsearch:check --stacktrace

  wow-spring-test:
    name: Wow Spring Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Spring
        run: ./gradlew wow-spring:clean wow-spring:check --stacktrace

  wow-webflux-test:
    name: Wow Webflux Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Webflux
        run: ./gradlew wow-webflux:clean wow-webflux:check --stacktrace

  wow-cosec-test:
    name: Wow CoSec Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-CoSec
        run: ./gradlew wow-cosec:clean wow-cosec:check --stacktrace

  wow-spring-boot-starter-test:
    name: Wow Spring-Boot-Starter Test
    needs: [ wow-spring-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-Spring-Boot-Starter
        run: ./gradlew wow-spring-boot-starter:clean wow-spring-boot-starter:check --stacktrace

  wow-opentelemetry-test:
    name: Wow Opentelemetry Test
    needs: [ wow-core-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          cache: gradle
          settings-path: ${{ github.workspace }}

      - name: Test Wow-opentelemetry
        run: ./gradlew wow-opentelemetry:clean wow-opentelemetry:check --stacktrace